
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001

# location search related
OPEN_CAGE_API_KEY=aaaaaaaaabbbbbbbcccc123 

BETTER_AUTH_SECRET=aiueoaiueoaieuoAAAA1n

# upload image related
UPLOADTHING_TOKEN='aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa='

KOMERCE_API_KEY=aaaaaaaaaaaaaaaaaaaaaaa
